/.idea/
target/
/test-dbs/*-*
/test-dbs/*_*
/test-dbs/databases.properties
/test-dbs/testkit.conf
/test-output/
*.log
*.iml
*.pyc
/\.target/
/\.cache
/\.project
/\.classpath
/\.settings/
.DS_Store
slick-testkit/src/codegen/resources/dbs/hsql/supp.properties
lib
*.autosave
src/sphinx/capabilities.csv
slick/src/sphinx/capabilities.csv
