language: scala
sudo: required
before_install:
# TZ needed for Oracle driver!
- export TZ=Asia/Kamchatka
- sh -v ./travis/extractNonPublicDeps
- docker version
- sh -v travis/runcontainer.sh oracle db2
- docker ps
jdk:
  - oraclejdk8
notifications:
  flowdock:
    secure: j3YP9TjiIcMRy2mvunF1AHBOFnz2H7mZAFVbHPBNkAjMCwSdBNvLpn33qv6ybr02c5snBDJTs0P70RJ/mh3YsqwnIeloQD9HUfnndKQD6ujxx1QWRI/lVDW4pfVRQEuPsXdW/3AiqxrSG5BS4thiyc3vj3LpnodHwNMUT+Nlmq0=
services:
  - mysql
  - postgresql
  - docker
addons:
  apt:
    packages:
    - graphviz
    - python-sphinx
    - mysql-server
script:
- sbt -jvm-opts jvmopts.travis -Dslick.testkit-config=test-dbs/testkit.travis.conf clean +testAll
cache:
  directories:
    - $HOME/.sbt
    - $HOME/.ivy2
