dist: xenial
sudo: required
language: scala
before_install:
# TZ needed for Oracle driver!
- export TZ=Asia/Kamchatka
- docker version
- sh -v travis/runcontainer.sh oracle db2
- docker ps
- sh -v ./travis/extractNonPublicDeps
jdk:
  - openjdk8
  - openjdk11
notifications:
  flowdock:
    secure: j3YP9TjiIcMRy2mvunF1AHBOFnz2H7mZAFVbHPBNkAjMCwSdBNvLpn33qv6ybr02c5snBDJTs0P70RJ/mh3YsqwnIeloQD9HUfnndKQD6ujxx1QWRI/lVDW4pfVRQEuPsXdW/3AiqxrSG5BS4thiyc3vj3LpnodHwNMUT+Nlmq0=
services:
  - mysql
  - postgresql
  - docker
addons:
  postgresql: "9.4"
  apt:
    packages:
    - graphviz
    - mysql-server-5.7
    - mysql-client-core-5.7
    - mysql-client-5.7
scala:
  - 2.11.12
  - 2.12.8
  - 2.13.0-RC1
script:
- admin/build.sh
cache:
  directories:
    - "$HOME/.sbt"
    - "$HOME/.ivy2"
