language: scala
scala:
  - 2.11.12
  - 2.12.8
  - 2.13.0
env:
  matrix:
    - ADOPTOPENJDK=8
    - ADOPTOPENJDK=11
    - ADOPTOPENJDK=13
services:
  - mysql
  - postgresql
  - docker
addons:
  postgresql: "9.4"
  apt:
    packages:
    - graphviz
before_install:
  # adding $HOME/.sdkman to cache would create an empty directory, which interferes with the initial installation
  - "[[ -d $HOME/.sdkman/bin/ ]] || rm -rf $HOME/.sdkman/"
  - curl -sL https://get.sdkman.io | bash
  - echo sdkman_auto_answer=true > $HOME/.sdkman/etc/config
  - source "$HOME/.sdkman/bin/sdkman-init.sh"
  # TZ needed for Oracle driver!
  - export TZ=Asia/Kamchatka
  - docker version
install:
  - sdk install java $(sdk list java | grep -oP "(?<=\s)$ADOPTOPENJDK\.[0-9\.]*hs-adpt" | head -1)
  - unset JAVA_HOME
  - java -Xmx32m -version
  - javac -J-Xmx32m -version
  - sh -v travis/runcontainer.sh oracle db2
  - docker ps
  - sh -v ./travis/extractNonPublicDeps
script:
  - admin/build.sh
before_cache:
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
cache:
  directories:
    - "$HOME/.sbt"
    - "$HOME/.ivy2"
    - "$HOME/.sdkman/archives"
