##############################################################################
# Configurations for external test databases
##############################################################################
# Copy this file to databases.properties and follow the instructions below to
# enable the external database systems for unit tests.
##############################################################################

# Use only the following DBs (or use all if not set)
#testDBs = h2mem, h2disk, hsqldbmem, sqlitemem, sqlitedisk, derbymem, derbydisk, postgres, mysql, sqlserver, access

# Store database files in this path instead of the test-dbs dir
# (ignored by MySQL and in-memory databases)
#testDir = r:/test-dbs

# PostgreSQL quick setup:
# - Install PostgreSQL server with default options
# - Change password in postgres.password
# - Set postgres.enabled = true
postgres.enabled = false
postgres.url = jdbc:postgresql:[DB]
postgres.user = postgres
postgres.password = secret
postgres.adminDB = postgres
postgres.testDB = scala-query-test
postgres.create = CREATE TABLESPACE scalaquery_test LOCATION '[DBPATH]'; CREATE DATABASE "[DB]" TEMPLATE = template0 TABLESPACE scalaquery_test
#postgres.create = CREATE DATABASE "[DB]"
postgres.drop = DROP DATABASE IF EXISTS "[DB]"; DROP TABLESPACE IF EXISTS scalaquery_test
#postgres.drop = DROP DATABASE IF EXISTS "[DB]"
postgres.driver = org.postgresql.Driver

# MySQL quick setup:
# - Install MySQL Essentials with default options
# - Change password in mysql.password
# - Set mysql.enabled = true
mysql.enabled = false
mysql.url = jdbc:mysql://localhost/[DB]
mysql.user = root
mysql.password = secret
mysql.adminDB = mysql
mysql.testDB = scala_query_test
mysql.create = CREATE DATABASE [DB]
mysql.drop = DROP DATABASE IF EXISTS [DB]
mysql.driver = com.mysql.jdbc.Driver

# Access quick setup:
# - Install Office 2010
# - Make sure your account has permissions to the ODBC registry keys:
#   http://support.microsoft.com/kb/295297
# - Set access.enabled = true
access.enabled = false
access.testDB = scala-query-test
access.emptyDBFile = test-dbs/empty_4.x.mdb.gz
access.testDBFile = [DBPATH]/[DB].mdb
access.driver = sun.jdbc.odbc.JdbcOdbcDriver
access.url = jdbc:odbc:Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=[DBPATH]/[DB].mdb
#access.url = jdbc:odbc:Driver={Microsoft Access Driver (*.mdb)};DBQ=[DBPATH]/[DB].mdb

# SQL Server quick setup:
# - Install SQL Server Express 2008 R2:
#   http://www.microsoft.com/express/Database/InstallOptions.aspx
# - In the SQL Server Configuration Manager, under "SQL Server Network
#   Configuration", enable Named Pipes and change the path from
#   \\.\pipe\MSSQL$SQLEXPRESS\sql\query to \\.\pipe\sql\query
# - If your machine is on a Windows domain, you may need to set the right
#   domain in sqlserver.url
# - Set sqlserver.enabled = true
sqlserver.enabled = false
sqlserver.url = jdbc:jtds:sqlserver://localhost/[DB];progName=ScalaQuery_Unit_Test;namedPipe=true;domain=local
sqlserver.user = dbo
sqlserver.password =
sqlserver.adminDB = master
sqlserver.testDB = scalaquery-test
sqlserver.defaultSchema = dbo
sqlserver.create = CREATE DATABASE "[DB]" ON (NAME = '[DB]_dat', FILENAME = '[DBPATH]\\[DB].mdf') LOG ON (NAME = '[DB]_log', FILENAME = "[DBPATH]\\[DB].ldf")
#sqlserver.create = CREATE DATABASE "[DB]"
sqlserver.drop = IF EXISTS(SELECT name FROM sys.databases WHERE name = '[DB]') DROP DATABASE "[DB]"
sqlserver.driver = net.sourceforge.jtds.jdbc.Driver
