<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>*** \(%logger{30}\) %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${log.root:-info}">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="scala.slick.ast.Optimizer" level="${log.opt:-info}" />
    <logger name="scala.slick.ast.Relational" level="${log.optRel:-info}" />
    <logger name="scala.slick.ast" level="${log.optFull:-info}" />
    <logger name="scala.slick.session" level="${log.session:-info}" />
</configuration>
