<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>*** \(%logger{30}\)%green(%X{debugId}) %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${log.root:-info}">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="slick.backend.DatabaseComponent.action"   level="${log.action:-info}" />
    <logger name="slick.backend.DatabaseComponent.stream"   level="${log.stream:-info}" />
</configuration>
