name: Check Scaladoc Links

on:
 pull_request:
   branches: ['**']
 push:
   branches: ['main']
   tags: ['**']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  JAVA_VERSION: "11"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: ts-graphviz/setup-graphviz@v2

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: adopt
        java-version: ${{ env.JAVA_VERSION }}
        cache: sbt

    - name: Setup SBT
      uses: sbt/setup-sbt@v1

    - run: sbt checkScaladocLinks
