name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, nafg/build-fixes ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ 8, 17 ]
        scala: [2.13.10, 3.0.0]
        exclude:
        - java: 1.16.0
          scala: 2.12.3

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
        - 5432:5432
      oracle:
        image: oracleinanutshell/oracle-xe-11g
        ports:
        - 49160:22
        - 49161:1521
      sqlserver:
        image: microsoft/mssql-server-linux:2017-latest
        env:
          ACCEPT_EULA: Y
          MSSQL_SA_PASSWORD: Freeslick18
        ports:
        - 1401:1433
      db2:
        image: ibmcom/db2:latest
        ports:
        - 50000:50000
        env:
          DB2INST1_PASSWORD: db2inst1-pwd
          DB2INSTANCE: db2inst1
          DBNAME: SLICKTST
          LICENSE: accept
        options: >-
          --privileged

    steps:
    - uses: ts-graphviz/setup-graphviz@v1

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Copy DB2 jar file out of docker container
      run: mkdir -p slick-testkit/lib && docker cp ${{ job.services.db2.id }}:/opt/ibm/db2/V11.5/java/db2jcc4.jar slick-testkit/lib/

    - name: Start MySQL
      run: docker run -d -e MYSQL_ALLOW_EMPTY_PASSWORD=yes -p 3306:3306 mysql --disable-log-bin

    - name: Setup Java and Scala
      uses: olafurpg/setup-scala@v10
      with:
        java-version: ${{ matrix.java }}

    - if: ${{ startsWith('refs/tags/', github.ref) }}
      run: export CI_TAG="${GITHUB_REF#refs/tags/}"

    - name: Build and test
      run: SCALA_VERSION=${{ matrix.scala }} TESTKIT_CONF=test-dbs/testkit.github-actions.conf admin/build.sh
      env:
        TZ: Asia/Kamchatka
