# Based on https://securitylab.github.com/research/github-actions-preventing-pwn-requests/

name: Post compat report as PR comment

on:
  workflow_run:
    workflows: ["Generate PR compat report"]
    types: [completed]

jobs:
  post-comment:
    runs-on: ubuntu-latest

    if: ${{ github.event.workflow_run.event == 'pull_request' && github.event.workflow_run.conclusion == 'success' }}

    steps:
    - name: 'Download artifact'
      uses: actions/github-script@v6
      with:
        script: |
          var artifacts = await github.rest.actions.listWorkflowRunArtifacts({
            owner: context.repo.owner,
            repo: context.repo.repo,
            run_id: ${{github.event.workflow_run.id }}
          })
          var matchArtifact = artifacts.data.artifacts.filter((artifact) => {
            return artifact.name === "compat-report"
          })[0];
          var download = await github.rest.actions.downloadArtifact({
            owner: context.repo.owner,
            repo: context.repo.repo,
            artifact_id: matchArtifact.id,
            archive_format: 'zip'
          });
          var fs = require('fs');
          fs.writeFileSync('${{github.workspace}}/compat-report.zip', Buffer.from(download.data));

    - run: unzip compat-report.zip

    - name: 'Comment on PR'
      uses: actions/github-script@v6
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          var fs = require('fs');
          var issue_number = Number(fs.readFileSync('./NR.txt'));
          await github.rest.issues.createComment({
            owner: context.repo.owner,
            repo: context.repo.repo,
            issue_number: issue_number,
            body: fs.readFileSync('./compat-report.md')
          });
