name: Version Policy Check

on:
  pull_request:
    branches: [ '**' ]
  push:
    branches: [ 'main' ]
    tags: [ 'v*' ]
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  JAVA_VERSION: "11"

jobs:
  build:
    name: Check conformance with version policy
    runs-on: ubuntu-latest

    strategy:
      matrix:
        scala: [ 2.12.x, 2.13.x, 3.x ]

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: ${{ env.JAVA_VERSION }}
          cache: sbt

      - name: Setup SBT
        uses: sbt/setup-sbt@v1

      - name: Check version policy
        run: sbt ++${{ matrix.scala }} versionPolicyCheck
